body {
  background-color: #b7fff4;
  font-family: sans-serif;
}

div {
  width: 50%;
  min-width: 430px;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(100, 100, 100, .7);
  border-radius: 30px;
}

textarea {
  text-transform: uppercase;
}